<h1>Orders from <%= @customer.name %></h1>
<ul>
    <% @orders.each do |order| %>
        <li><%= order.customer_id %></li>
        <li><%= order.product %></li>
        <li><%= order.price %></li>
        <li><%= order.piece %></li>
        <li><%= order.total_amount %></li>
        <li><%= order.shipped %></li>
        <li><%= order.created_at %></li>
        <li><%= order.updated_at %></li>
    <% end %>
</ul>