<div>
<%= form_with model: @order do |f| %>
    <label>Product</label>
    <%= f.text_field :product %><br>

    <label>Price</label>
    <%= f.text_field :price %><br>

    <label>Piece</label>
    <%= f.text_field :piece %><br>

    <label>Total Amount</label>
    <%= f.text_field :total_amount %><br>

    <label>Shipped</label>
    <%= f.check_box :shipped %><br>
    
    <%= f.submit %>
<% end %>
</div>