<h1>Order Information</h1>
<ul>
    <li>Customer ID: <%= @order.customer_id %></li>
    <li>Product: <%= @order.product %></li>
    <li>Price: <%= @order.price %></li>
    <li>Piece: <%= @order.piece %></li>
    <li>Total amount: <%= @order.total_amount %></li>
    <li>Shipped: <%= @order.shipped %></li>
    <li>Created at: <%= @order.created_at %></li>
    <li>Updated at: <%= @order.updated_at %></li>
</ul>